@import "override";
@import "~materialize-css/sass/materialize";

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

.pink {
  background-color: $hot-pink;
}

body {
  color: $text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Roboto', Arial
}


.tabs {
  li.tab {
    a {
      color: $text-dark;
      font-weight: 500;
    }

    a.active {
      color: $primary-color;
    }

  }
}

.tab-label {
  font-weight: 500;
}

.btn-rect {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  border: 3px solid transparent;
  display: inline-block;
}

.btn-primary {
  background-color: $primary-color;
  color: $text-light;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

.btn-secondary {
  width: 100%;
  margin-top: 1rem;
  background-color: none;
  border-color: $primary-color;
}

.btn-secondary:hover {
  background-color: $primary-color;
  color: $text-light;
}

.progress {
  // background-color: $light-yellow;
  height: 16px;
  border-radius: 8px;

  .determinate {
    // background-color: $dark-yellow;
  }
}

nav {
  height: 64px;
  background-color: $text-dark;
  position: fixed;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .button-collapse i {
    height: 64px;
    line-height: 64px;
  }

  .side-nav {
    background-color: $text-dark;

    a {
      color: #fff;
    }
  }

  .logo {
    display: inline-block;
    // width: 64px;
    height: 64px;
    padding: 12px 15px;

    img {
      width: 40px;
      display: inline;
      vertical-align: text-bottom;
    }

    h1 {
      font-size: 30px;
      line-height: 40px;
      display: inline;
      font-weight: 300;
      margin-left: 0.4rem;
      vertical-align: top;
    }
  }

  #nav-menu-btn {
    margin: 0 3%;
  }

  ul li a {
    position: relative;
  }

  ul li a:after {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    background-color: $primary-color;
    // background-color: $light-yellow;
    transform: translateY(6px);
    opacity: 0;
  }

  ul li a:hover:after {
    transform: translateY(0);
    opacity: 1;

  }
}

.dashboard > nav {
  background-color: transparent;
  box-shadow: none;
}

.dashboard > nav.is-visible {
  background-color: $text-dark;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dashboard {
  position: relative;

  .container > row{
    margin-bottom: 0;
  }
}

#sidenav-overlay {
  z-index: 0;
}

.toucan-bg {
  background: linear-gradient(179deg, #ff6b6b, #4e78cd);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @keyframes AnimationName { 
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
}

.modal {
  color: $text-dark;
  position: absolute;
  border-radius: 8px;
  overflow: visible;

  .modal-header {
    padding: 24px;
    text-align: center;
    border-bottom: 1px solid $border-grey;
    position: relative;

    .modal-close {
      position: absolute;
      top: 50%;
      left: 0;
      @include translate(0, -50%);
    }

    h4 {
      margin: 0;
    }
  }

  .modal-content {
    // border-bottom: 1px solid $border-grey;

    .btn-facebook {
      @extend .blue, .darken-4;
    }
  }
}

.modal.open {
    z-index: 1003;
    // display: block;
    opacity: 1;
    transform: scaleX(1);
    top: 10%;
    max-height: 200%;
}

#materialize-lean-overlay.open {
  z-index: 1002;
  display: block;
  opacity: 0.8;
}

.user-greeting {
  h1 {
    color: $text-light;
    padding: 6rem 2rem;
    margin: 0;
  }
}

.cart-list {
  margin: 2rem 0;

  li {
    opacity: 0;
  }

  li>a {
    color: $text-dark;
  }

  li:last-child>.cart-card {
    margin-bottom: 0;
  }

  .cart-card {
    padding: 0;
    margin-bottom: 3.5em;
    border: 1px solid #dfdcda;
    border-radius: 6px;

    .col {
      padding: 0;
    }

    .cart-image {
      position: relative;
      padding: 1.5rem;

      img {
        width: 100%;
        display: block;
        border-radius: 6px;
      }

      .cart-status {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cart-content {
      padding: 1.5em;

      h3.cart-name {
        margin: 0;
        margin-bottom: 0.2rem;
      }

      .cart-organizer {
        margin-bottom: 3.5rem;
        color: #ccc;
      }

      .cart-due,
      .view-btn {
        display: inline-block;
      }

      .cart-due {
        color: #ccc;
      }

      .cart-total {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .progress {
        margin-bottom: 0.5rem;
      }
    }
  }

  .cart-card:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.08);
  }
}

#new-cart-btn {
  position: absolute;
  bottom: -47.75px;
  right: 3%;
}

#new-cart-btn.is-floating {
  position: fixed;
  bottom: 5%;
}

// cart page
.cart {
  .container {
    padding-top: 20px + 64px;
    padding-bottom: 24px;
  }
}

#car-top {
  margin-bottom: 3rem;
}

.cart-header {
  h2 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
  }

  .chip{
    vertical-align: middle;
    margin-bottom: -10px;
    margin-left: 0.5rem;

  }
}
    
.chip.status-pending{
  background-color: $dark-yellow;
}

.chip.status-active{
  background-color: $primary-color;
  color: $text-light;
}

.chip.status-achieved{
  background-color: $primary-color-dark;
  color: $text-light;
}

.cart-meta {
  // display: table-cell;
  width: 100%;

  .cart-submeta {
    display: inline-block;
    vertical-align: bottom;
    width: 30%;

    h4 {
      font-weight: 900;
      margin-bottom: 0.3rem;
    }

    span {
      color: $light-grey;
    }

    .flow-text {
      margin-top: 0;
    }
  }

  .progress {
    margin-top: 3rem;
  }
}

.cart-options {
  text-align: center;
  border-radius: 6px;
  margin-top: 1.78rem;
  padding: 40px;
  background-color: #fafafa;



  .btn-rect {
    width: 100%;
  }
}


#cart-options {
  margin-top: 2rem;
  text-align: center;

  li {
    margin: 0 0.2rem 1rem;

    display: inline-block;

    a {
      color: #292F36;
      border: solid 1px #E6E4E2;
      padding: 6px 8px;
      border-radius: 3px;
      background-color: #fafafa;

      i {
        font-size: inherit;
        vertical-align: text-top;
      }
    }

    a:hover {
      border-color: rgba(61,61,102,0.4);
    }
  }
}

#products {
  margin-top: 1.78rem;

  a {
    i.material-icons {
      font-size: 1.4rem;
      vertical-align: top;
    }
  }
}

#product-list {
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid $border-grey;

  .product-item {
    padding: 20px;
    padding-left: 72px;
    border-bottom: 1px solid $border-grey;

    img.circle {
      top: 1.47rem;
    }

    h5 {
      margin-top: 0;
    }  

    .product-ops {
      display: none;
    }
  }

  .product-item:hover .product-ops {
    display: block;
  }
}

#payments {
  margin: 0;
  margin-top: 1.78rem;
  // padding: 0;

  .payment-entry {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid $border-grey;

    .avatar {
      img {
        width: 100%;
        display: block;
        border-radius: 50%;
      }
    }

    .payment-detail {
      padding-left: 1.5rem;

      .payee {
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#contribution {
  .tab-label {
    line-height: 48px;
    text-transform: uppercase;
  }

  // #payments,
  #contributors {
    margin-top: 1.78rem;
    .chip {
      margin-bottom: 1em;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      text-align: left;
      border: 1px solid #E6E4E2;
      background-color: #fafafa;
      color: #292F36;

      img {
        width: 48px;
        height: 48px;
        border-radius: 24px;
      }

      span {
        font-weight: 400;
      }
    }
  }
}

footer.page-footer {
  margin-top: 0;
  background-color: $text-dark;

  h5 {
    font-size: 1.24rem;
  }

  ul>li>a {
    font-size: 0.9rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.08);
  }

  .logo {
    display: inline-block;
    // width: 64px;
    height: 64px;
    padding: 0;
    margin-top: 0.82rem;
    color: $text-light;

    img {
      width: 40px;
      display: inline;
      vertical-align: text-bottom;
    }

    h1 {
      font-size: 30px;
      line-height: 40px;
      display: inline;
      font-weight: 300;
      margin-left: 0.4rem;
      vertical-align: top;
    }
  }
}


